body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FFEAF1;
    color: #A10F51;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #C76D7E;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #E5679B;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    background-color: #A10F51;
    color: #FFEAF1;
    cursor: pointer;
}

button:hover {
    background-color: #E5679B;
}
